/* Header */
header {
  background: #000;
  width: 100%;
  height: 20px;
  padding: 15px 0px;
  line-height: 20px;
  font-size: 18px;
}
header #logo {
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}
header span {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
header #title {
  float: left;
}
header #menu {
  text-transform: uppercase;
  margin: 12px;
  color: #fff;
  float: left;
}
header #menu .fa-bars {
  font-size: 26px;
}
header .links {
  float: right;
  margin-right: 10px;
}
header .links a {
  color: #ffffff;
  text-decoration: none;
  margin: 8px;
}
/* End Header */
/* Footer */
footer {
  width: 100%;
  height: 200px;
  background: #000;
}
/* End Footer */
/* Content */
.wrapper {
  min-height: 500px;
  width: 100%;
}
.wrapper .blocks {
  min-height: 500px;
  width: 100%;
}
.wrapper .blocks ~ :nth-child(odd) {
  background: #fffff;
}
.wrapper .blocks ~ :nth-child(even) {
  background: #828282;
}
/* End Content */
